<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>
        <%= pageTitle%>
    </title>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <div id="container">
        <div id="heading">
            <header>
                <div id="title">
                    <h1>About Movie</h1>
                </div>
                <div id="navigation">
                    <nav class="navbar navbar-expand-xl bg-transparent ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link text-dark h2" data-toggle="tooltip" data-placement="top" title="Home page">Home</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link text-dark h2" href="/story" data-toggle="tooltip" data-placement="top" title="Real story!">Story</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark h2" href="/images" data-toggle="tooltip" data-placement="top" title="Images!">Images</a>
                            </li>
                            <li class="nav-item">
                                <a href="/clips" class="nav-link text-dark h2" data-toggle="tooltip" data-placement="top" title="Watch movie clips!">Movie clips</a>
                            </li>

                            <li class="nav-item">
                                <a href="https://www.amazon.in/Into-Wild-Jon-Krakauer/dp/0385486804" class="nav-link text-dark h2" data-toggle="tooltip" data-placement="top" title="Buy the book">Read</a>
                            </li>


                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark h2" href="#" id="navbardrop" data-toggle="dropdown">
                        Watch on
                      </a>
                                <div class="dropdown-menu bg-transparent">
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.primevideo.com/detail/Into-The-Wild/0PQER6UBRU8ZHGA8XD0WGBUU8I">Amazon</a>
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.netflix.com/in/title/70075064">Netflix</a>
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.vudu.com/content/movies/details/Into-the-Wild/130442">Vudu</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div id="main-body">
            <h1 style="font-size:xx-large;color:black;margin-bottom:30px;text-align: center;text-decoration:underline">Cast:</h1>
            <div id="cast">

                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/M/MV5BZjM4OTg0NTMtN2NmNS00ZGVjLWFmNWEtZDZiY2Y1ZDFjYWYzXkEyXkFqcGdeQXVyNjk1MjYyNTA@._V1_UY317_CR16,0,214,317_AL__QL50.jpg" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm0386472?ref_=tt_cl_t_1">
                            <h1>Emile Hirsch
                            </h1>
                        </a>
                        <a href="https://www.imdb.com/title/tt0758758/characters/nm0386472?ref_=tt_cl_c_1">
                            <h5>as Chris McCandless</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTQ1MDA0MzE0MF5BMl5BanBnXkFtZTYwOTUzOTI4._V1_UY317_CR7,0,214,317_AL__QL50.jpg" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm0000681?ref_=tt_cl_t_2">
                            <h1>Vince Vaughn
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm0000681?ref_=tt_cl_c_2">
                            <h5> as Wayne Westerberg</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/M/MV5BMjIwMzQ1Mzg1MF5BMl5BanBnXkFtZTcwNTE4MTU5MQ@@._V1_UX214_CR0,0,214,317_AL__QL50.jpg" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm0001416?ref_=tt_cl_t_3">
                            <h1>Catherine Keener
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm0001416?ref_=tt_cl_c_3">
                            <h5>as Jan Burres</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTkxNDc3Njk3NF5BMl5BanBnXkFtZTgwODIxMjUxNzM@._V1_UY317_CR51,0,214,317_AL__QL50.jpg" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm0001315?ref_=tt_cl_t_4
                        ">
                            <h1>Marcia Gay Harden
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm0001315?ref_=tt_cl_c_4">
                            <h5>as Jan Burres</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/M/MV5BMjEyNzA5MTUxN15BMl5BanBnXkFtZTcwMTU3ODQ3MQ@@._V1_UY317_CR2,0,214,317_AL__QL50.jpg" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm0000458?ref_=tt_cl_t_5">
                            <h1>William Hurt
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm0000458?ref_=tt_cl_c_5">
                            <h5>as Walt McCandless </h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTU0NDM5OTE0N15BMl5BanBnXkFtZTcwMzMzNjM0Nw@@._V1_UY317_CR21,0,214,317_AL__QL50.jpg" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm0540441?ref_=tt_cl_t_6">
                            <h1>Jena Malone
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm0540441?ref_=tt_cl_c_6">
                            <h5>as Carine McCandless</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/S/sash/9FayPGLPcrscMjU.png" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm1619626?ref_=tt_cl_t_7">
                            <h1>Brian H. Dierker
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm1619626?ref_=tt_cl_c_7">
                            <h5>as Rainey(as Brian Dierker)</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTQxMjUyOTY0Ml5BMl5BanBnXkFtZTcwNjI2MjA2Mw@@._V1_UY317_CR7,0,214,317_AL__QL50.jpg" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm0829576?ref_=tt_cl_t_8">
                            <h1>Kristen Stewart
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm0829576?ref_=tt_cl_c_8">
                            <h5>as Tracy Tatro</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTgyNTMwNjE3NV5BMl5BanBnXkFtZTcwNTQzMjc1MQ@@._V1_UX214_CR0,0,214,317_AL__QL50.jpg" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm0001358?ref_=tt_cl_t_9">
                            <h1>Hal Holbrook
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm0001358?ref_=tt_cl_c_9">
                            <h5>as Ron Franz</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/S/sash/9FayPGLPcrscMjU.png" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm2946106?ref_=tt_cl_t_10">
                            <h1>Jim Gallien
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm2946106?ref_=tt_cl_c_10">
                            <h5>as Jim Gallien</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/S/sash/9FayPGLPcrscMjU.png" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm3024139?ref_=tt_cl_t_11">
                            <h1>James O'Neill
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm3024139?ref_=tt_cl_c_11">
                            <h5>as Graduation Reader</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/S/sash/9FayPGLPcrscMjU.png" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm2945392?ref_=tt_cl_t_12">
                            <h1>Malinda McCollum
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm2945392?ref_=tt_cl_c_12">
                            <h5>as Waitress</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/S/sash/9FayPGLPcrscMjU.png" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm2945792?ref_=tt_cl_t_13">
                            <h1>Paul Knauls
                            </h1>
                        </a>

                        <a href="https://www.imdb.com/title/tt0758758/characters/nm2945792?ref_=tt_cl_c_13">
                            <h5>as Building Manager</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTQwNzI3NjIwMV5BMl5BanBnXkFtZTcwMzA1OTIwMw@@._V1_UY317_CR1,0,214,317_AL__QL50.jpg" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm0302108?ref_=tt_cl_t_14">
                            <h1>
                                Zach Galifiana
                                <br> kis

                            </h1>
                        </a>
                        <a href="https://www.imdb.com/title/tt0758758/characters/nm0302108?ref_=tt_cl_c_14">
                            <h5>as Kevin</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/S/sash/9FayPGLPcrscMjU.png" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm2945384?ref_=tt_cl_t_15">
                            <h1>Craig Mutsch

                            </h1>
                        </a>
                        <a href="https://www.imdb.com/title/tt0758758/characters/nm2945384?ref_=tt_cl_c_15">
                            <h5>as Wayne's Crew #1</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/S/sash/9FayPGLPcrscMjU.png" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm2946126?ref_=tt_cl_t_16">
                            <h1>Jim Beidler

                            </h1>
                        </a>
                        <a href="https://www.imdb.com/title/tt0758758/characters/nm2946126?ref_=tt_cl_c_16">
                            <h5>as Wayne's Crew #2</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/S/sash/9FayPGLPcrscMjU.png" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm2945855?ref_=tt_cl_t_17">
                            <h1>John Decker

                            </h1>
                        </a>
                        <a href="https://www.imdb.com/title/tt0758758/characters/nm2945855?ref_=tt_cl_c_17">
                            <h5>as Hutterite #1</h5>
                        </a>
                    </div>
                </div>
                <div class="casted">
                    <div class="iamge">
                        <img src="https://m.media-amazon.com/images/S/sash/9FayPGLPcrscMjU.png" alt="">
                    </div>
                    <div class="description">
                        <a href="https://www.imdb.com/name/nm2945037?ref_=tt_cl_t_18">
                            <h1>John Hofer

                            </h1>
                        </a>
                        <a href="https://www.imdb.com/title/tt0758758/characters/nm2945037?ref_=tt_cl_c_18">
                            <h5> as Hutterite #2</h5>
                        </a>
                    </div>
                </div>
            </div>
            <h1 style="font-size:xx-large;color:black;margin-bottom:30px;text-align: center;text-decoration:underline">Crew:</h1>
            <div id="stats">
                <div id="director" class="maker">
                    <img src="https://m.media-amazon.com/images/M/MV5BMTc1NjMzMjY3NF5BMl5BanBnXkFtZTcwMzkxNjQzMg@@._V1_UY317_CR1,0,214,317_AL__QL50.jpg" alt="">
                    <a href="https://www.imdb.com/name/nm0000576?ref_=tt_cl_dr_1">
                        <h1>Sean Penn</h1>
                    </a>
                    <h2>Director and screenplay</h2>
                </div>
                <div id="book" class="maker">
                    <img src="https://m.media-amazon.com/images/M/MV5BYzA2MjA5YmItMjliMy00ZjcxLTllOWItYWQ0ZWU0MGE5MjQwXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_UX214_CR0,0,214,317_AL__QL50.jpg" alt="">
                    <a href="https://www.imdb.com/name/nm1040556?ref_=tt_cl_wr_2">
                        <h1>John Krakauer</h1>
                    </a>
                    <h2>Author of book</h2>
                </div>
                <div id="real_char" class="maker">
                    <img src="https://media.newyorker.com/photos/590951a12179605b11ad3100/master/w_2560%2Cc_limit/mccandless-580.jpeg" alt="" style="width:300px">
                    <a href="https://www.newyorker.com/books/page-turner/how-chris-mccandless-died">
                        <h1>Chris Mccandless</h1>
                    </a>
                    <h2>Real life character</h2>
                </div>
                <div id="similar">
                    <h1>15 Movies like <strong>into the wild</strong> </h1>
                    <ul>
                        <li class="movies">
                            <h1>Stand By Me</h1>
                            <div class="mov_img">
                                <img src="https://static0.srcdn.com/wordpress/wp-content/uploads/2019/07/Stand-By-Me-Main-Cast.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>Horror icon <strong> <a href="https://www.cbr.com/stephen-king-adaptations-reboots-dont/" style="color:black">Stephen King</a></strong> can whip out a moving drama too, Stand by Me being a fine example. Based on King's
                                    novella The Body, this tells the tale of four kids who embark on a camping trip just to see a dead body in the woods. As the young boys survive nature and some bullies, they bond together in an adventure of a lifetime.
                                    The movie again celebrates simplicity and the innocence of childhood. It can make one wonder that one might be living the best years of their lives without actually realizing it. The film ends on a realistic note that
                                    all four friends grow up to have their own lives, and the bond they once shared fades away. But at least, the memory of that summer hiking trip still remains etched in their minds. It's highly possible for everyone
                                    who has watched this movie to get all teary-eyed thinking about Stand by Me.

                                </h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>Boyhood</h1>
                            <div class="mov_img">
                                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2019/12/Boyhood-Entry-6-Cropped.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>Most of the films mentioned here are adventure, survival, or road-films. Boyhood, on the other hand, is a film that shows ordinary life as no less of an adventure. Shot in the span of twelve years, Richard Linklater's epic
                                    drama details the life of Mason and his ordinary teenage life. Most of the film feels improvised with not much of cinematic drama in it. But it's the sheer simplicity that makes it one of the best movies on the concept
                                    of self-discovery. As Mason grows up, his relationship changes with his mother, changing fathers, and life in general. Films like Boyhood are rare, as they for a change, would make audiences feel happy about their own
                                    life inspiring them to celebrate their little everyday victories.</h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>The Secret Life Of Walter Mitty
                            </h1>
                            <div class="mov_img">
                                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2019/12/The-Secret-Life-of-Walter-Mitty-1.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>Directed by and starring Ben Stiller, this adventure comedy was very polarizing on its release. And it might not impress some who might find Stiller stuffing too many themes in a somewhat simplistic plot. But there's a
                                    lot of passion in this film that makes for feel-good, escapist fun. Stiller's lead Walter Mitty is an everyday man who is bored with the everyday monotony of life. He dreams of alternative scenarios where he gets to
                                    embark on romance and action-filled adventures. When unemployment starts knocking Mitty's door, he actually decided to make these alternative realities his own.

                                </h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>Wild</h1>
                            <div class="mov_img">
                                <img src="https://static3.srcdn.com/wordpress/wp-content/uploads/2016/11/reese-witherspoon-in-wild.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>We all have coping mechanisms to deal with loss. Wild's Chery Strayed's method is to embark on an unconventional adventure. <strong><a href="https://screenrant.com/reese-witherspoon-characters-iconic-quotes-legally-blonde-big-little-lies/" style="color:black">Reese Witherspoon</a></strong>,
                                    in an Oscar-nominated performance, plays real-life backpacker Cheryl Strayed, who embarked on a hundred-mile solo hike to recover from a personal tragedy. As a result, her adventure moves her and changes her life forever.
                                    Along with Witherspoon, it's Laura Dern who shines playing the protagonist's mother. From the title to the concept, Wild is similar to Into the Wild in many ways. Even though the latter's Supertramp doesn't face any
                                    personal loss, his parents' abusive marriage disheartens him and prompts him to reject society altogether.
                                </h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>127 Hours</h1>
                            <div class="mov_img">
                                <img src="https://static0.srcdn.com/wordpress/wp-content/uploads/2020/03/127-Hours.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>In Into the Wild, the protagonist decides to engage in a tryst with nature to discover something new and engage in adventure. The protagonist (James Franco) in 127 Hours probably has the same aspirations but things get
                                    messed up for him right from the start. In this real-life story, canyoner Aron Ralston gets trapped by a boulder in an isolated canyon without any food or water. All he has is a video camera and a hand stuck under a
                                    rock.Ralston's quest for survival is gut-wrenching enough to make 127 Hours seem sort of survival horror tale. AR Rahman's tense background score and the very fact that the movie's plot happened in real make the film
                                    scarier.
                                </h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>Hunt For The Wilderpeople</h1>
                            <div class="mov_img">
                                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2016/10/Julian-Dennison-and-Sam-Neill-in-Hunt-for-the-Wilderpeople.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>New Zealand native Taika Waititi had mastered the art of edgy children comedies long before Jojo Rabbit, with this 2016 adventure-comedy that went on to be the highest-grossing film of New Zealand. In this case also, a
                                    national manhunt is organized to find a missing kid and his grumpy foster uncle. The only difference is these two escape into the wild against their will and soon become national fugitives. Hunt for the Wilderpeople
                                    benefits largely from its performances by debutant Julian Dennison (some might recognize him as the kid from Deadpool 2) and veteran Sam Neil, along with Waititi's offbeat screenplay. An added bonus is the visually-pleasing
                                    locations.
                                </h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>Moonrise Kingdom</h1>
                            <div class="mov_img">
                                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2020/03/Moonrise-Kingdom.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>Wes Anderson might rely a lot on his unique brand of deadpan, emotionless humor but he too can pull his audience's heartstrings, especially with movies like Moonrise Kingdom. The movie can't be put under one genre, as it's
                                    an adventure film with traces of a rom-com and coming-of-age drama.The plot revolves around two young lovers who flee their town, rejecting society. Without any proper planning, they still plan to live together in a
                                    natural habitat, their love and sense of adventure keeping them alive. Meanwhile, the town gets frantic as it sets out on a search party to find these kids. A moving story, themes of innocence, and Anderson's signature
                                    aesthetics and humor make it one of the most memorable entries in his filmography.</h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>Leave No Trace</h1>
                            <div class="mov_img">
                                <img src="https://static0.srcdn.com/wordpress/wp-content/uploads/2020/05/Leave-No-Trace.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>Another family-bonding film that has a similar premise is Debra Granik's heavily-acclaimed feature Leave No Trace. In this indie drama too, a father and a daughter attempt to reenter normal society, as they're forced out
                                    of the National Park land where they dwelled in a self-sustainable manner. While the daughter is willing to give normal life a shot, it's her father who becomes stubborn and tries to go back to his old ways. There isn't
                                    much of a story in the film; a lot of the conflicting emotions are expressed subtly through Ben Foster and Thomasin McKenzie's powerful performances. If emotional slow-burn movies go down your valley, then this is the
                                    film for you
                                </h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>Captain Fantastic</h1>
                            <div class="mov_img">
                                <img src="https://static3.srcdn.com/wordpress/wp-content/uploads/2020/04/Captain-Fantastic-george-mackay.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>Captain Fantastic seems to be almost a heartwarming satire on Into the Wild-like movies. Much like the Supertramp, Viggo Mortensen's Ben Cash is a man who lives a primitive life in the woods with his entire family. But
                                    when his wife passes away, he decides to introduce his children back to the materialistic society of which he was once a part of.The results are hilarious as the family faces new challenges that it didn't anticipate
                                    at all. Apart from Mortensen's moving performance as a confused but responsible father, the movie's moral conflicts and social comedy is what makes it totally worth a watch.</h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>The Motorcycle Diaries</h1>
                            <div class="mov_img">
                                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2020/03/Rodrigo-De-la-Serna-and-Gael-Garc--a-Bernal-in-The-Motorcycle-Diaries-2004.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>Mexican heartthrob Gael García Bernal stars as revolutionary leader Ernest 'Che' Guevara in this Spanish coming-of-age film. But the film features no political speeches or guerrilla warfare as you would expect from a Che
                                    Guevara biopic as the film covers the earlier parts of his life. The film depicts Ernesto as a young medical student who takes his friend Alberto on a motorcycle trip all across South America. On his journey, he discovers
                                    several harsh realities of society and gets moved by the conditions of the indigenous people in various countries. This eventually moves him to take up their cause later on in life. Based on Guevara's memoir, the movie
                                    is a moving journey of how travel and observations can totally change a person. While Into the Wild's Supertramp decided to change his life for himself, Che Guevara decides to change the life of the people around him.</h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>The Way Back</h1>
                            <div class="mov_img">
                                <img src="https://static0.srcdn.com/wordpress/wp-content/uploads/2020/05/way-back-film.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>Following a group of escapees from a Siberian gulag, this very long prison break takes its characters through every kind of tough terrain imaginable on a trek across one of the most sparsely populated areas on Earth. Helmed
                                    by master director Peter Weir, The Way Back is an epic story of perseverance and defiance in the face of overwhelming forces that makes for a very different kind of war movie.</h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>Lean on Pete</h1>
                            <div class="mov_img">
                                <img src="https://static0.srcdn.com/wordpress/wp-content/uploads/2020/05/lean-on-pete.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>Charlie Plummer plays a young man who, after tragedy strikes in his life, finds himself emotionally bound to an old racehorse named 'Lean on Pete' who he steals to avoid the slaughterhouse, taking them on a cross country
                                    journey to try and find some family who could take them in. A heartwrenching coming of age story, the movie handles the harshness of modern life through a combination of beautiful cinematography and brutally honest
                                    realism.
                                </h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>Jungle</h1>
                            <div class="mov_img">
                                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2017/06/Daniel-Radcliffe-in-the-film-Jungle.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3><strong><a href="https://screenrant.com/daniel-radcliffe-best-movies-rotten-tomatoes/">Daniel Radcliffe</a></strong> stars as real-life adventurer Yossi Ghinsberg as he becomes lost in the Amazon rainforest during an ill-fated
                                    expedition to locate a remote tribe.Left to fend for himself in the unpredictable wilderness and with no sense of where he is, Yossi's journey becomes a terrifying ordeal that highlights the raw power of the natural
                                    world.
                                </h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>The Way</h1>
                            <div class="mov_img">
                                <img src="https://static0.srcdn.com/wordpress/wp-content/uploads/2020/05/the-way.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3>Emilio Estevez directs his father, <strong><a href="https://screenrant.com/martin-sheen-movies-roles-best-top-imdb/">the great Martin Sheen</a></strong>, in this spiritual drama about an elderly man's search for some kind
                                    of meaning in the wake of his son's death, embarking on a walking pilgrimage in Spain to the Cathedral of Santiago de Compostela. Along the way, he gets to know many other pilgrims and their problems, taking solace
                                    in their sharing. The Way is easygoing in many respects but a heavy philosophical movie in others, creating a unique mixture of moods and drama for a touching parable about loss and faith</h3>
                            </div>
                        </li>
                        <li class="movies">
                            <h1>Gerry</h1>
                            <div class="mov_img">
                                <img src="https://static0.srcdn.com/wordpress/wp-content/uploads/2020/05/gerry-2002.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" alt="">
                            </div>
                            <div class="mov_desc">
                                <h3><strong><a href="https://screenrant.com/matt-damon-best-movies/" style="color:black">Matt Damon</a></strong>and Casey Affleck star in this sparse and haunting drama about two hikers who become lost on a walk in a Southwestern
                                    American desert. Loosely based on a true story, the movie is told mostly through long, slow, elegant takes of the two main characters moving through their barren landscape in hopes of finding their direction, and everything
                                    that is omitted by the lack of dialogue is told in excruciating detail through the naturalistic performances of Damon and Affleck.</h3>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>