<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle%>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/chapter.css">
</head>

<body>
    <div id="container" style="background-image: url(/images/image7.jpg)">
        <div id="heading">
            <header>
                <div id="title">
                    <h1 style="color:black">Into the wild summary</h1>
                </div>
                <div id="navigation">
                    <nav class="navbar navbar-expand-sm bg-transparent ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark h2" href="/" data-toggle="tooltip" data-placement="top" title="Home Page!">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark h2" href="/about" data-toggle="tooltip" data-placement="top" title="About movie!">About</a>
                            </li>


                            <li class="nav-item">
                                <a href="/clips" class="nav-link text-dark h2" data-toggle="tooltip" data-placement="top" title="Watch movie clips!">Movie clips</a>
                            </li>
                            <li class="nav-item">
                                <a href="/images" class="nav-link text-dark h2" data-toggle="tooltip" data-placement="top" title="Movie images">Images</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.amazon.in/Into-Wild-Jon-Krakauer/dp/0385486804" class="nav-link text-dark h2" data-toggle="tooltip" data-placement="top" title="Buy the book">Read</a>
                            </li>


                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark h2" href="#" id="navbardrop" data-toggle="dropdown">
                        Watch on
                      </a>
                                <div class="dropdown-menu bg-transparent">
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.primevideo.com/detail/Into-The-Wild/0PQER6UBRU8ZHGA8XD0WGBUU8I">Amazon</a>
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.netflix.com/in/title/70075064">Netflix</a>
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.vudu.com/content/movies/details/Into-the-Wild/130442">Vudu</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div id="main-body">
            <div class="text">
                <h1 style="color:dark">Chapter1:</h1>
                <p style="color:black">Outside Fairbanks, Alaska, an electrician named Jim Gallien picks up a teenage hitchhiker who introduces himself as Alex. Gallien is concerned that Alex, who claims to be 24, is underprepared for the several months’ stay he plans in Alaska’s
                    Denali National Park. Gallien asks Alex questions about his hunting license, since the young man is carrying a rifle, but Alex says that he doesn’t care about the government’s rules and insists that he’ll be fine. The narrator, who
                    we know to be the author Jon Krakauer, points out that this is typical of Alex. Gallien also notices that Alex’s gun isn’t necessarily powerful enough to kill large animals. In exchange for the ride, Alex gives Gallien his few spare
                    possessions, including less than a dollar in change and a plastic comb. Gallien insists that Alex take a pair of his work boots and some extra food his wife has packed for his lunch. He drops Alex off at the edge of the park, on the
                    Stampede Trail. He is convinced Alex will leave the park and come back to civilization as soon as he faces real hardship.

                </p>
                <h1 style="color:dark">Chapter2:</h1>
                <p style="color:black">The narrator relates the history of an abandoned school bus located on a remote section of the Stampede Trail in Denali National Park. Once in service in Fairbanks, the bus was bought and converted to workers’ housing, then left behind
                    as shelter for hunters and campers after the construction project was abandoned due to lack of funds. Such is its condition when three different groups of hunters and hikers visit it in 1992. Three moose hunters cross the difficult
                    Teklanika River in their trucks in September of that year and encounter two other people who have already discovered the bus. The other two have decided not to go inside it because a frighteningly bad smell is emanating from it. There
                    is an S.O.S. note tied to the bus’s antenna that declares that its occupant, Christopher J. McCandless, is sick and needs help. The note also says that he has gone out to forage for berries and will return. Inside the bus, the hunters
                    find a rifle, paperback books, clothing, a backpack, and other supplies. In the back, on a bunk, is a dead body that is so shrunken and small one of the moose hunters at first has trouble determining that it is a person. The reader
                    knows the body to be Christopher McCandless. The police, however, have not yet been able to identify it. The hunters arrange for the body to be transported to Anchorage. State troopers arrive in a helicopter the next morning. Additional
                    searches of the bus reveal several rolls of film and McCandless’s diary, which contains 113 entries and is written in a guide to edible plants. An autopsy undertaken at the Scientific Crime Detection Laboratory in Alaska cannot determine
                    the exact reason the deceased was no longer able to leave his bed to find food. The cause of death is established as starvation. The identity of the body still remains unknown.</p>
                <h1 style="color:dark">Analysis:</h1>
                <p style="color:black">The opening of Into the Wild establishes a number of narrative expectations and introduces its protagonist, Christopher McCandless. It reveals his objective of living for an extended time in Denali National Park, and also hints at the
                    consequences that may await him. The narration begins through the perspective of a stranger who encounters McCandless on the road, thus offering the reader a chance to evaluate McCandless’s entry into the wild without knowing anything
                    about his fate. The reader is implicitly invited to experience Jim Gallien’s concern for McCandless after he decides to pick up the young hitchhiker, which establishes sympathy for McCandless early in the narrative. In addition, the
                    fact that Gallien does not stop McCandless from heading into the wild and decides that he will be fine strikes a note of tragic irony that will continue throughout the book. Gallien’s attempts to give McCandless what help he can suggests
                    that McCandless will provoke heartache and concern from those who knew him as the story of Into the Wild continues. The arrival of the hunters at the bus to find McCandless’s body inside it at the end of Chapter Two confirms this tragic
                    suspicion. The opening section of Into the Wild clarifies the book’s formal technique for the reader. The inclusion of maps shows Christopher McCandless’s geographical location in each chapter, allowing the reader to track his movements
                    and to think through his journey. Krakauer also inserts epigraphs from McCandless’s diary, his reading, and books that Krakauer himself finds of relevant interest at the beginning of each chapter. He sets the expectation that each
                    epigraph can be used as a clue or a thematic hint as to what will be contained in the chapter to follow. Taken together, both maps and epigraphs render Into the Wild what could be called an interactive reading experience. The reader
                    may choose different modes and different forms of documentation through which to encounter and navigate Christopher McCandless’s story. This mimics Krakauer’s journalistic work in assembling that story and also offers a metaphor for
                    the progress of a traveller through an unknown territory. Moreover, Into the Wild’s evocative and often poetic use of media underlines that it is a literary work as opposed to a work of strictly objective reportage. Certain features
                    of the book’s opening also invoke the related genres of the detective story and the true crime investigation. Both play an important role in the opening of Into the Wild. While the reader knows the identity of the body the moose hunters
                    find in the abandoned bus, the conventions of detective fiction drive the narrative toward the revelation of his identity. Precisely because the narrator tells us that the police don’t have any leads, we expect to learn how they will
                    find out who McCandless is. We also expect that this discovery will be surprising and that it will have further consequences for the story. In addition, the narrator emphasizes another crucial mystery, that of what prevented McCandless
                    from taking care of himself. Was he poisoned? By what? Why, exactly, did he starve instead of making it out of the park? Finding a satisfactory answer to this question may continue to drive Krakauer’s fascination with McCandless’s
                    death
                </p>
            </div>
        </div>
        <div id="footer">
            <nav class="navbar navbar-expand-sm bg-transparent ">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white h1 " href="/story" data-toggle="tooltip" data-placement="top" title="Read previous chapter!">Previous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white h1" href="/chapter2" data-toggle="tooltip" data-placement="top" title="Read Chapter3!">Page2</a>
                    </li>


                    <li class="nav-item">
                        <a href="/chapter3" class="nav-link text-white h1" data-toggle="tooltip" data-placement="top" title="Read Chahpter4!">Page3</a>
                    </li>
                    <li class="nav-item">
                        <a href="/chapter4" class="nav-link text-white h1" data-toggle="tooltip" data-placement="top" title="Read Chapter5">Page4</a>
                    </li>
                    <li class="nav-item">
                        <a href="chapter5" class="nav-link text-white h1" data-toggle="tooltip" data-placement="top" title="Read Last Chapter">Last</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>