<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle%>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/chapter.css">
</head>

<body>
    <div id="container" style="background-image: url(/images/image1.jpg)">
        <div id="heading">
            <header>
                <div id="title">
                    <h1 style="color:white">Into the wild summary</h1>
                </div>
                <div id="navigation">
                    <nav class="navbar navbar-expand-xl bg-transparent ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/" data-toggle="tooltip" data-placement="top" title="Home Page!">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/about" data-toggle="tooltip" data-placement="top" title="About movie!">About</a>
                            </li>


                            <li class="nav-item">
                                <a href="/clips" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Watch movie clips!">Movie clips</a>
                            </li>
                            <li class="nav-item">
                                <a href="/images" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Movie images">Images</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.amazon.in/Into-Wild-Jon-Krakauer/dp/0385486804" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Buy the book">Read</a>
                            </li>


                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white h2" href="#" id="navbardrop" data-toggle="dropdown">
                        Watch on
                      </a>
                                <div class="dropdown-menu bg-transparent">
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.primevideo.com/detail/Into-The-Wild/0PQER6UBRU8ZHGA8XD0WGBUU8I">Amazon</a>
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.netflix.com/in/title/70075064">Netflix</a>
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.vudu.com/content/movies/details/Into-the-Wild/130442">Vudu</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div id="main-body">
            <div class="text">
                <h1>Chapter 6:</h1>
                <p style="color:black">The narrator and author of Into the Wild receives a letter from a man named Ronald A. Franz, who asks for a copy of a 1993 magazine article about Christopher McCandless’s death. This leads to a visit between Krakauer and Franz, a recovered
                    alcoholic and Vietnam veteran. Krakauer learns from Franz that he and McCandless met while camping at Anza-Borrego Desert State Park near the Salton Sea. McCandless shows Franz the hot springs where he camps in exchange for a ride.
                    The two become friends. Franz lost his wife and child while he was overseas, and he takes to McCandless as if the younger man were his own son. Franz buys McCandless food and listens to his stories as well as his theories about life
                    and society. Franz tries to convince McCandless to get a job, but McCandless explains to him that he has a plan. He also begins lecturing Franz about how sedentary Franz’s life is. Franz teaches McCandless leatherworking, and McCandless
                    produces a monogrammed belt with a number of symbols from his life as a tramp. Eventually, Franz drives McCandless to San Diego, where he attempts to get work. Later letters arrive from McCandless to say that work is hard to come by
                    in San Diego. By late February, McCandless writes to Burres and Franz to say he has jumped trains to Seattle. His next contact with Franz comes after his arrest and release for jumping a train further south, in a small California town
                    called Colton. Franz drives to Colton, picks McCandless up, feeds him, gives him supplies, and helps him pack to depart for Carthage, where he says he will work for Wayne Westerberg again. On one of their last drives, Franz asks McCandless
                    if he can adopt him as his grandson, but McCandless pushes off the conversation for after his return from Alaska.
                    <br> Krakauer then breaks off tracking McCandless and relates that Franz received a letter from McCandless in early April, which he quotes in its entirety. In the letter, McCandless urges Franz to pack up his belongings and embark
                    on a traveler’s life, chastising him for settling for less joy than the world has to offer. Krakauer relates then that Franz followed McCandless’s advice. He bought a camper and moved to McCandless’s old campsite in the Salton Sea,
                    where he lived until he heard news of McCandless’s death from a pair of hitchhikers while in town to retrieve his mail. Rocked by grief, Franz drank a bottle of whiskey, breaking his hard-won sobriety.



                </p>
                <h1>Chapter 7:</h1>
                <p style="color:black">Almost two months after the discovery of McCandless’s body, the narrator meets with Wayne Westerberg in Carthage, South Dakota to discuss McCandless’s last period of work at Westerberg’s grain elevator. McCandless intended to stay from
                    March until April to raise funds for his trip to Alaska. The narrator also speaks with Gail Borah, Westerberg’s girlfriend, who describes McCandless’s seriousness and his affection for his sister Carine, as well as his disagreements
                    with his family. Westerberg’s mother also tells the narrator that she felt particular affection for McCandless even though she only met him once. The narrator describes McCandless’s feelings that his parents were oppressive, secretive,
                    and irrational. He also relates that McCandless never had a girlfriend and may have remained celibate throughout puberty and afterward. McCandless apparently marked up passages of Leo Tolstoy’s “Kreutzer Sonata,” a story about the
                    renunciation of sex. Krakauer analyzes McCandless’s character at length, concluding that he was drawn to nature because of a desire for human contact too strong to be satisfied by other people. On his last night with Westerberg and
                    Borah, McCandless entertains a bar full of Carthage locals by playing the piano. Together, the three polish off a great deal of Jack Daniels, one of McCandless’s favorite drinks. In the morning, McCandless’s friends see him off, and
                    Borah discovers he is crying as he says goodbye to her. A week later he writes from Montana. At the end of April, 1992, Burres and her boyfriend as well as Westerberg and Borah receive postcards bidding them goodbye forever and explaining
                    that McCandless is never coming back from the wild.</p>
                <h1>Analysis</h1>
                <p style="color:black">Chapters Six and Seven both rely on a similar narrative structure: McCandless displays some warmth or sociability and then reverses or rejects it. Krakauer raises questions of morality and selfishness. He builds emotional tension as McCandless
                    begins to say goodbye to his friends and commit himself to life in the wild. Both Chapters Six and Seven involve Christopher alarming or wounding people he has met while on the road, usually by accepting their assistance but not their
                    warnings. While the first section of Into the Wild largely offered descriptions of McCandless’s growing happiness, exhilaration, and commitment to his new identity as a tramp, these chapters move even farther outside McCandless’s point
                    of view to start to suggest a note of selfishness in his motivations. The section also underlines that the solitary people Krakauer encounters as part of his investigation into McCandless’s life have often chosen solitude after a significant
                    trauma, which seems not to be true of McCandless himself.
                    <br> Nowhere is the danger of McCandless’s hurting others by heading into the wild more evident than in his meeting with the veteran and recovered alcoholic Ronald A. Franz. McCandless’s friendship Franz leads to considerable damage
                    to the older man. When Franz finds out McCandless is dead, he breaks his sobriety and sickens himself on an entire bottle of whiskey. Krakauer’s narration of this outcome casts McCandless not just as impetuous but as deeply irresponsible,
                    especially because the reader learns of his whiskey binge at the end of a chapter, undercutting that chapter’s forgoing description of the close friendship between Franz and McCandless. At the same structurally significant point in
                    the chapter where he places the revelation of Franz’s grief, Krakauer’s tone turns solemn as he discusses the depth of Franz’s grief. McCandless’s relationship with Franz also underlines a motif of McCandless’s frustrating or hurting
                    the parental figures in his life. Taken as a whole, McCandless’s impact on Franz only complicates and undermines the sympathy the narrator seems to feel for McCandless. Chapter Seven provides another bittersweet portrait of Christopher
                    McCandless’s relationships. As was the case in Chapter Four, hen Krakauer described McCandless’s contributions for Jan Burres’s community, and even sparks romantic interest, Chapter Seven reveals that McCandless could belong if he
                    wanted to. His relationships with Wayne Westerberg and his girlfriend, and even his ability to entertain a group of people with his musical talent, reveals that he has the ability to make connections and to function in a society. However,
                    his goal of self-sufficiency and living in the wild supersedes the connections he makes. Taken together, the tone of Chapters Six and Seven becomes elegiac, even as McCandless surprises his friends, including Wayne Westerberg and Burres,
                    with a series of postcards informing them he may never return. In terms of content, Chapters Six and Seven distinguish themselves from the bulk of Into the Wild because they contain large amounts of writing quoted directly from Christopher
                    McCandless. Krakauer quotes an entire letter from McCandless to Ronald Franz. The reader is thus allowed to hear McCandless’s voice, if only in written form, and to think through his formulations of his ideas about life and the inability
                    of most people to change their situations and achieve happiness. McCandless urges Franz to leave Salton City and experience adventure and the passion for the road as a means of changing his life for the better. His strong phrases give
                    the reader the experience of being subject to McCandless’s persuasion. His writing underlines his friendly feelings for Franz but also his own strong sense of rectitude, self-righteousness, and authority. The postcards that arrive
                    at the end of Chapter Seven act as counterpoint to this longer letter as well as a fulfillment of its philosophical advice. Their short length suggests determination and the irrevocability of McCandless’s decision to leave society
                    behind


                </p>
            </div>
        </div>
        <div id="footer">
            <strong><a href="https://www.sparknotes.com/lit/into-the-wild/section5/" style="color:black"><h1>Further reading</h1></a></strong>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>