<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle%>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/chapter.css">
</head>

<body>
    <div id="container" style="background-image: url(/images/image18.jpg)">
        <div id="heading">
            <header>
                <div id="title">
                    <h1><a href="/" style="text-decoration:none;color:white">
                        Into the wild</a></h1>
                </div>
                <div id="navigation">
                    <nav class="navbar navbar-expand-xl bg-transparent ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/poster" data-toggle="tooltip" data-placement="top" title="Posters">Poster</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/about" data-toggle="tooltip" data-placement="top" title="About movie!">About</a>
                            </li>


                            <li class="nav-item">
                                <a href="/clips" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Watch movie clips!">Movie clips</a>
                            </li>
                            <li class="nav-item">
                                <a href="/images" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Movie images">Images</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.amazon.in/Into-Wild-Jon-Krakauer/dp/0385486804" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Buy the book">Read</a>
                            </li>


                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white h2" href="#" id="navbardrop" data-toggle="dropdown">
                        Watch on
                      </a>
                                <div class="dropdown-menu bg-transparent">
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.primevideo.com/detail/Into-The-Wild/0PQER6UBRU8ZHGA8XD0WGBUU8I">Amazon</a>
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.netflix.com/in/title/70075064">Netflix</a>
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.vudu.com/content/movies/details/Into-the-Wild/130442">Vudu</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div class="main-body">
            <div class="text">
                <h1 style="color:white">Chapter4</h1>
                <p style="color:white">In October 1990, a National Park Service ranger finds a yellow Datsun in a dry riverbed in Lake Mead National Park. A note reads that it has been abandoned and is free for the taking. It also contains a few loose items, including clothing,
                    a guitar, and two bags of rice. A ranger jumpstarts it. A trace leads the rangers back to a Hertz rental car operation, but no further. As a result, Krakauer writes, the rangers now use the car to make undercover drug investigations.
                    He then reveals that the yellow Datsun is Chris McCandless’s. McCandless arrived in an area of Lake Mead called Detrital Wash on July 6, 1990, and got caught in a flashflood that got his engine wet. He buried the rifle he was carrying
                    and burned all his money. The narrator cites McCandless’s diary to substantiate these details. He next describes the hike McCandless took on foot around Lake Mead and the two months following, when McCandless hiked to Lake Tahoe and
                    the Sierra Nevada Mountains. He worked on a farm in Northern California. A woman named Jan Burres and her boyfriend, Bob, encounter McCandless next and give him a ride.
                    <br> In the meantime, McCandless’s parents search for him. They receive a ticket for the Datsun from California and hire a private investigator who discovers that Chris McCandless has donated his money to charity. On the West Coast,
                    McCandless catches a ride to Needles, California and buys a canoe with a new plan to navigate the Colorado River from California to Mexico. As he travels he survives only on rice and fish he has caught. His trip takes him through the
                    desert to a number of national parks. He sends a postcard to Wayne Westerberg and complains that the money he earned with Wayne has made tramping too easy. He says he is dedicating himself to a life on the road. In early December he
                    crosses into Mexico, but as December passes into January he encounters several difficulties on the river and decides to abandon the canoe. Immigration officers arrest and then release him at the US - Mexico Border. He visits Los Angeles
                    to get an ID but is too nervous and then returns to Detrital Wash to dig up his possessions. Then he lives on the street in Las Vegas, beginning in late February 1991. Krakauer relates that McCandless thinks he is living life to the
                    fullest.

                </p>
            </div>
        </div>
        <div id="footer">
            <nav class="navbar navbar-expand-sm bg-transparent ">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white h1 " href="/story" data-toggle="tooltip" data-placement="top" title="Read plot summary!">First</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white h1" href="/chapter2" data-toggle="tooltip" data-placement="top" title="Read Chapter3!">Previous</a>
                    </li>

                    <li class="nav-item">
                        <a href="/chapter4" class="nav-link text-white h1" data-toggle="tooltip" data-placement="top" title="Read Chapter5">Next</a>
                    </li>
                    <li class="nav-item">
                        <a href="chapter5" class="nav-link text-white h1" data-toggle="tooltip" data-placement="top" title="Read Last Chapter">Last</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>