<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle%>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/chapter.css">
</head>

<body>
    <div id="container" style="background-image: url(/images/image21.jpg)">
        <div id="heading">
            <header>
                <div id="title">
                    <h1 style="color:black">Into the wild summary</h1>
                </div>
                <div id="navigation">
                    <nav class="navbar navbar-expand-xl bg-transparent ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark h2" href="/" data-toggle="tooltip" data-placement="top" title="Home Page!">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark h2" href="/about" data-toggle="tooltip" data-placement="top" title="About movie!">About</a>
                            </li>


                            <li class="nav-item">
                                <a href="/clips" class="nav-link text-dark h2" data-toggle="tooltip" data-placement="top" title="Watch movie clips!">Movie clips</a>
                            </li>
                            <li class="nav-item">
                                <a href="/images" class="nav-link text-dark h2" data-toggle="tooltip" data-placement="top" title="Movie images">Images</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.amazon.in/Into-Wild-Jon-Krakauer/dp/0385486804" class="nav-link text-dark h2" data-toggle="tooltip" data-placement="top" title="Buy the book">Read</a>
                            </li>


                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark h2" href="#" id="navbardrop" data-toggle="dropdown">
                        Watch on
                      </a>
                                <div class="dropdown-menu bg-transparent">
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.primevideo.com/detail/Into-The-Wild/0PQER6UBRU8ZHGA8XD0WGBUU8I">Amazon</a>
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.netflix.com/in/title/70075064">Netflix</a>
                                    <a class="dropdown-item bg-transparent text-dark h3" href="https://www.vudu.com/content/movies/details/Into-the-Wild/130442">Vudu</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div id="main-body">
            <div class="text">
                <h1>Chapter5:</h1>
                <p style="color:black">The narrator explains that a period of relative mystery surrounds McCandless’s whereabouts once he reaches Las Vegas. By July or August of 1991, however, he has moved on to the small town of Bullhead City, Arizona. He works in a McDonald’s
                    and opens a savings account under his own name. Fellow employees and his managers remember him as a hard worker and a loner with odd personality traits, including a dislike of wearing socks and an inability to tell that he smelled
                    bad. His smell leads to at least one unpleasant interaction with a coworker. Krakauer reveals that McCandless hid from his coworkers that he was a drifter without a home or access to shower facilities. In this period Chris meets Charlie,
                    a colorful old man who takes him and gives him a home in his camping trailer.
                    <br> In early December, Chris contacts Jan Burres and her boyfriend, Bob, to ask them to visit him in Bullhead City, then shows up at her trailer unexpectedly. Beginning in mid-December 1991, he lives with the couple at the Slabs,
                    an itinerant’s community near the small town of Niland, and helps Burres organize her bookselling outfit. According to Burres, he took great pleasure in the work, especially helping her organize the classics. He also participates in
                    the life of the Slabs, playing an organ for other campers and watching football, which leads him to accidentally reveal that he roots for Washington, D.C. area teams. A girl named Tracy develops a crush on him, but he does not reciprocate
                    her interest. He starts pursuing calisthenics to train for a longer, rougher trip into the wild. When she drops him off weeks later in Salton City so he can buy supplies, Burres tries to force warm clothes on him, but he leaves them
                    under the seat of the car.
                </p>
                <h1>Analysis:</h1>
                <p style="color:black">Chapters Four and Five continue tracking Christopher McCandless as he travels by car and by canoe around the Western United States. In this section, the reader witnesses McCandless’s slow transformation into Alexander Supertramp amidst
                    the sublime landscapes of California, Arizona, and Nevada. He makes enduring connections with other misfits, travellers, and independent spirits. He acquires skills and proves his ability to survive in the wild, particularly while
                    canoeing, when he survives only on rice and fish he has caught. He seems to prove the idea that self-reliance is possible, or that at least a partial version can be achieved. It is true, ultimately, that his diet of fish causes him
                    to experience malnutrition, but he remains hopeful. The reader is invited, despite knowing McCandless’s fate, to remain hopeful as well. Krakauer’s hypothetical descriptions of McCandless’s emotional state highlight his exhilaration,
                    even giddiness. Significant anecdotes like the burning of McCandless’s money function similarly. These incidents also testify to the slight irrationality creeping into his actions. Many of the section’s episodes function as foreshadowing,
                    including McCandless’s friend Jan Burres’s description of him as incredibly hungry when they first meet. The same is true of Christopher’s rejection of supplies offered him by Burres when he leaves her camp by the Salton Sea. These
                    encounters both echo McCandless’s rejection of aid from his family before he leaves on his journey and suggest that while it is integral to his understanding of his new identity, McCandless’s insistence on independence may lead him
                    to disaster or at least unnecessary hardship. His hunger, relentless even while he is still living in civilization, reminds the reader of what they already kno that McCandless will die of starvation. Krakauer’s analysis of the melodramatic
                    tone of McCandless’s diary entries suggests that McCandless may have lost touch with reality at the same time that he is enjoying his travels most. His parents’ struggle to find McCandless also undercuts the idea that he has succeeded
                    in finding an untainted or perfect independence.

                </p>
            </div>
        </div>
        <div id="footer">
            <nav class="navbar navbar-expand-sm bg-transparent ">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white h1 " href="/story" data-toggle="tooltip" data-placement="top" title="Read plot summary!">First</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white h1" href="/chapter3" data-toggle="tooltip" data-placement="top" title="Read Chapter3!">Previous</a>
                    </li>


                    <li class="nav-item">
                        <a href="/chapter5" class="nav-link text-white h1" data-toggle="tooltip" data-placement="top" title="Read Last Chapter!">Last</a>
                    </li>


                </ul>
            </nav>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>