<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle%>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/chapter.css">
</head>

<body>
    <div id="container" style="background-image: url(/images/image10.jpg)">
        <div id="heading">
            <header>
                <div id="title">
                    <h1><a href="/" style="text-decoration:none;color:inherit">
                        Into the wild</a></h1>
                </div>
                <div id="navigation">
                    <nav class="navbar navbar-expand-xl bg-transparent ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/poster" data-toggle="tooltip" data-placement="top" title="Posters">Poster</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/about" data-toggle="tooltip" data-placement="top" title="About movie!">About</a>
                            </li>


                            <li class="nav-item">
                                <a href="/clips" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Watch movie clips!">Movie clips</a>
                            </li>
                            <li class="nav-item">
                                <a href="/images" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Movie images">Images</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.amazon.in/Into-Wild-Jon-Krakauer/dp/0385486804" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Buy the book">Read</a>
                            </li>


                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white h2" href="#" id="navbardrop" data-toggle="dropdown">
                        Watch on
                      </a>
                                <div class="dropdown-menu bg-transparent">
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.primevideo.com/detail/Into-The-Wild/0PQER6UBRU8ZHGA8XD0WGBUU8I">Amazon</a>
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.netflix.com/in/title/70075064">Netflix</a>
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.vudu.com/content/movies/details/Into-the-Wild/130442">Vudu</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div id="main-body">
            <div class="text">
                <h1 style="color:white">Chapter3 Part1:</h1>
                <p style="color:white">In a tiny South Dakota town called Carthage, Wayne Westerberg describes Chris McCandless to Jon Krakauer, who the reader knows has come to interview him about McCandless. Krakauer relates that Westerberg, then overseeing a barley harvest
                    in Montana, picked up McCandless while he was hitchhiking. Westerberg remembers him as restless and handsome, with a sensitive face and a lean physique. He mentions that women would likely have found him attractive, but also describes
                    his face as alternating between animated and slack. Alex was engaging and friendly. Westerberg decided to let him sleep in his trailer overnight when it started to rain. McCandless stayed for three days. Westerberg then told McCandless
                    to come to South Dakota for a job whenever he needed. McCandless arrived a few weeks later, and Westerberg gave him a place to stay and a job on one of his grain elevators. McCandless worked hard enough that Westerberg was impressed.
                    He also learned that McCandless was intelligent and liked to read. In addition, Westerberg recalls finding out from a tax form that McCandless, who had introduced himself as Alex, was named Christopher. Westerberg decided not to ask
                    questions, however. McCandless apparently enjoyed living with Westerberg, cooking for and going drinking with the other people in the house.
                    <br> After only a few weeks, Westerberg must leave to serve a short sentence following a felony conviction for pirating television signals, which makes it impossible for McCandless to stay in Carthage. McCandless inscribes a copy of
                    War and Peace to Westerberg before leaving, advising him to “listen to Pierre,” an altruist and rebel in the novel. From this point forward, McCandless tells people he is from South Dakota. Krakauer relates that McCandless actually
                    grew up in Annandale, Virginia in an upper middle-class household. His father, Walt McCandless, was an aerospace engineer; Chris’s mother, Billie, was his business partner. Chris attended Emory University in Georgia, where he edited
                    the student newspaper and refused Phi Beta Kappa Honors on principle. After graduation, he refused his parents’ offer to pay for law school as well as their offer to buy him a car using the $24,000 remaining in his college fund. Instead,
                    Krakauer writes, McCandless decided to donate all of the money to the charity OXFAM.
                    <br> The narrator then describes Christopher McCandless’s graduation ceremony in mid-May 1990. The next day is Mother’s Day, and McCandless gives his mother presents for the first time in years. Billie McCandless is surprised, especially
                    since Christopher has just lectured her and her husband for their offer to buy him a new car. He later writes to his sister, Carine McCandless, that he is disgusted by the idea. During graduation weekend, he tells his parents, “I think
                    I’m going to disappear for a while.” He later writes to them, and encloses his graduation photos. In August of 1990, McCandless’s parents received a bundle of forwarded mail for Christopher. It consisted of their letters to their son.
                    It had been held in Atlanta at Christopher’s instruction, apparently so they wouldn’t know that he had left town. They drive down to visit him in Atlanta. His apartment is empty. He has already packed up his things and begun his journey.
                    Krakauer relates that McCandless was now calling himself “Alexander Supertramp.”
                    <br>
                </p>
                <h1 style="color:white">Analysis</h1>
                <p style="color:white">Chapter Three’s initial small-town South Dakota setting establishes a tone of the picturesque or the travelling adventure story. The narrator’s colorful and rich descriptions of a South Dakota bar and other characters, including the handyman,
                    farm manager, felon, and engineer Wayne Westerberg, strike a note of the picturesque, a style that combines rural subjects with warm treatment. They give the reader a glimpse of the rough, sly charm of the American West, its institutions
                    and its inhabitants. Krakauer’s style in Chapter Three ranges from the comical to the grim, with notes of puzzlement and suspense. Krakauer relates McCandless’s hard work first at Westerberg’s barley harvest and then at his grain elevator
                    as a means of underlining and foreshadowing his physical endurance. McCandless’s gift to Westerberg of a copy of War and Peace is similarly revealing of McCandless’s character. He is values both charity and independent thought.
                    <br> Chapter Three also represents a key chapter in Jon Krakauer’s investigation into Christopher McCandless’s life and psychology. His conversation with Westerberg, described in an objective third person and containing a number of
                    direct quotes, reinforces Into the Wild’s journalistic tone while allowing both Westerberg’s explicit and Krakauer’s implicit interpretations of McCandless’s character to develop. Krakauer’s work will be to balance the deployment of
                    evidence and his own interpretations while leaving the reader space to come to independent conclusions. Otherwise, the reader will lose the sense of suspense that powers Into the Wild’s expository sections. There are many examples
                    of this balancing act in Chapter Three. For instance, Krakauer sketches life at Westerberg’s house as warm and sociable, as if to ask why McCandless would want to leave it. He also grounds the reader by suggesting explicitly that McCandless
                    might have been in search of a surrogate family. After the close of the conversation between Westerberg and Krakauer, Krakauer leads the reader through several episodes in McCandless’s life that immediately preceded his departure for
                    the wild. McCandless’s habits at school and his relationships with others testify to his austere intellectualism and his unpredictability. Especially telling details like his academic success but his continued discontent delineate
                    his character as stubborn and unconventional despite his talent. Information about his class background and family life prime the reader for later interviews with them. In a general sense, the background information compiled in the
                    second half of Chapter Three lends ironic depth to the impression of Christopher McCandless held out in the beginning of the chapter. His ability to pass himself off as a lean, hungry tramper with nothing but what he could carry is
                    false. In fact, he could go home to his family whenever he wanted.
                </p>
                <h1 style="color:white">Chapter3 Part2</h1>
                <p style="color:white">All the information Krakauer compiles in Chapter Three pushes toward the moment in which he reveals that Christopher McCandless has renamed himself Alexander Supertramp. The assumption of his new name marks a new period in McCandless’s
                    life and represents a point of no return for the book’s primary plot, which traces his journey into the wild. Attempting to cross the boundary between these two versions of McCandless, connecting his past to his decision to spend his
                    future tramping, is perhaps Krakauer’s primary project in Into the Wild. The book’s secondary plot, Krakauer’s psychological investigation of McCandless, is also thus advanced by the key moment of renaming at the end of Chapter Three.</p>




            </div>
        </div>
        <div id="footer">
            <nav class="navbar navbar-expand-sm bg-transparent ">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white h1 " href="/story" data-toggle="tooltip" data-placement="top" title="Read plot summary!">First</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white h1" href="/chapter1" data-toggle="tooltip" data-placement="top" title="Read Chapter 1 and 2!">Previos</a>
                    </li>


                    <li class="nav-item">
                        <a href="/chapter3" class="nav-link text-white h1" data-toggle="tooltip" data-placement="top" title="Read Chahpter4!">Page3</a>
                    </li>
                    <li class="nav-item">
                        <a href="/chapter4" class="nav-link text-white h1" data-toggle="tooltip" data-placement="top" title="Read Chapter5">Page4</a>
                    </li>
                    <li class="nav-item">
                        <a href="chapter5" class="nav-link text-white h1" data-toggle="tooltip" data-placement="top" title="Read Last Chapter">Last</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>