<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>
        <%= pageTitle%>
    </title>
    <link rel="stylesheet" href="/css/clips.css">
</head>

<body>
    <div id="container">
        <div id="heading">
            <header>
                <div id="title">
                    <h1>Movie Clips</h1>
                </div>
                <div id="navigation">
                    <nav class="navbar navbar-expand-xl bg-transparent ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Home page">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/about" data-toggle="tooltip" data-placement="top" title="About movie!">About</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/story" data-toggle="tooltip" data-placement="top" title="Real story!">Story</a>
                            </li>

                            <li class="nav-item">
                                <a href="/images" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Movie images">Images</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.amazon.in/Into-Wild-Jon-Krakauer/dp/0385486804" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Buy the book">Read</a>
                            </li>


                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white h2" href="#" id="navbardrop" data-toggle="dropdown">
                        Watch on
                      </a>
                                <div class="dropdown-menu bg-transparent">
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.primevideo.com/detail/Into-The-Wild/0PQER6UBRU8ZHGA8XD0WGBUU8I">Amazon</a>
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.netflix.com/in/title/70075064">Netflix</a>
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.vudu.com/content/movies/details/Into-the-Wild/130442">Vudu</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div id="main-body">
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/E59QtfWFnhU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/XZG1FzyB8DI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/8j5sn2UyTp4?list=PLZbXA4lyCtqoRsry35wufIldLoKqKez-H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            </div>
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/dZbWmnVOhbA?list=PLZbXA4lyCtqoRsry35wufIldLoKqKez-H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/NL4WWmwdV6g?list=PLZbXA4lyCtqoRsry35wufIldLoKqKez-H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/xRtjf4AE2-4?list=PLZbXA4lyCtqoRsry35wufIldLoKqKez-H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/SY_94CSMlyE?list=PLZbXA4lyCtqoRsry35wufIldLoKqKez-H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/AhAHDaOGHFI?list=PLZbXA4lyCtqoRsry35wufIldLoKqKez-H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/I70sIrfz0_c?list=PLZbXA4lyCtqoRsry35wufIldLoKqKez-H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/1U_GoiFy6kw?list=PLZbXA4lyCtqoRsry35wufIldLoKqKez-H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/Ui8Y0Pqlg_4?list=PLZbXA4lyCtqoRsry35wufIldLoKqKez-H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/9ui5BalHNAg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/PWRHTFwpRys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>


        <script>
            $(document).ready(function() {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
</body>

</html>