<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle%>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/images.css">
</head>

<body>
    <div id="container">
        <div id="heading">
            <header>
                <div id="title">
                    <h1>Into the wild</h1>
                </div>
                <div id="navigation">
                    <nav class="navbar navbar-expand-xl bg-transparent ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Home page">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/about" data-toggle="tooltip" data-placement="top" title="About movie!">About</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/story" data-toggle="tooltip" data-placement="top" title="Real story!">Story</a>
                            </li>
                            <li class="nav-item">
                                <a href="/clips" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Watch movie clips!">Movie clips</a>
                            </li>

                            <li class="nav-item">
                                <a href="https://www.amazon.in/Into-Wild-Jon-Krakauer/dp/0385486804" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Buy the book">Read</a>
                            </li>


                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white h2" href="#" id="navbardrop" data-toggle="dropdown">
                        Watch on
                      </a>
                                <div class="dropdown-menu bg-transparent">
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.primevideo.com/detail/Into-The-Wild/0PQER6UBRU8ZHGA8XD0WGBUU8I">Amazon</a>
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.netflix.com/in/title/70075064">Netflix</a>
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.vudu.com/content/movies/details/Into-the-Wild/130442">Vudu</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div id="main-body">
            <div class="image">
                <img src="/images/image1.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image3.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image4.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image5.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image6.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image7.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image8.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image9.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image10.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image11.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image12.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image13.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image14.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image15.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image16.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image17.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image18.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image19.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image20.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image21.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image22.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/image23.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/imageg24.jpg" alt="">
            </div>
            <div class="image">
                <img src="/images/imageg2.jpg" alt="">
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

</body>

</html>