<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Into the wild</title>
</head>

<body>
    <div id="container">
        <audio id="gana" controls style="margin-left:75vw;opacity:0.1">
            <source src="https://pwdown.com/112646/04. Kun Faya Kun.mp3" type="audio/mpeg"> 
        </audio>
        <div id="heading">
            <header>
                <div id="title">
                    <h1><a href="/" style="text-decoration:none;color:inherit">
                        Into the wild</a></h1>
                </div>
                <div id="navigation">
                    <nav class="navbar navbar-expand-xl bg-transparent ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/about" data-toggle="tooltip" data-placement="top" title="About movie!">About</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white h2" href="/story" data-toggle="tooltip" data-placement="top" title="Real story!">Story</a>
                            </li>
                            <li class="nav-item">
                                <a href="/clips" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Watch movie clips!">Movie clips</a>
                            </li>
                            <li class="nav-item">
                                <a href="/images" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Movie images">Images</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.amazon.in/Into-Wild-Jon-Krakauer/dp/0385486804" class="nav-link text-white h2" data-toggle="tooltip" data-placement="top" title="Buy the book">Read</a>
                            </li>


                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white h2" href="#" id="navbardrop" data-toggle="dropdown">
                        Watch on
                      </a>
                                <div class="dropdown-menu bg-transparent">
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.primevideo.com/detail/Into-The-Wild/0PQER6UBRU8ZHGA8XD0WGBUU8I">Amazon</a>
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.netflix.com/in/title/70075064">Netflix</a>
                                    <a class="dropdown-item bg-transparent text-white h3" href="https://www.vudu.com/content/movies/details/Into-the-Wild/130442">Vudu</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div id="main-body">
            <a class="nav-link text-dark" href="#" data-toggle="tooltip" data-placement="top" title="Click to change quotes" @click="clicked"></a>
            <h1>“Happiness is only real when shared”<br> ― Jon Krakauer, Into the Wild</h1>
            <h1>“It's not always necessary to be strong, but to feel strong.”<br> ― Jon Krakauer, Into the Wild</h1>
            <h1>“I now walk into the wild.”<br> ― Jon Krakauer, Into the Wild</h1>
            <h1>“Some people feel like they don't deserve love. They walk away quietly into empty spaces,<br> trying to close the gaps of the past.”<br> ― Jon Krakauer, Into the Wild</h1>
            <h1>“When you forgive, you love. And when you love, God’s light shines upon you.”<br> ― Jon Krakauer, Into the Wild</h1>
            <h1>“make a radical change in your lifestyle and begin to boldly do things which you may previously never have thought of doing, or been too hesitant to attempt. So many people live within unhappy circumstances and yet will not take the initiative
                to change their situation because they are conditioned to a life of security, conformity, and conservation, all of which may appear to give one peace of mind, but in reality nothing is more damaging to the adventurous spirit within a man
                than a secure future. The very basic core of a man's living spirit is his passion for adventure. The joy of life comes from our encounters with new experiences, and hence there is no greater joy than to have an endlessly changing horizon,
                for each day to have a new and different sun. If you want to get more out of life, you must lose your inclination for monotonous security and adopt a helter-skelter style of life that will at first appear to you to be crazy. But once you
                become accustomed to such a life you will see its full meaning and its incredible beauty.” ― Jon Krakauer, Into the Wild</h1>
            <h1>“I'd like to repeat the advice that I gave you before, in that I think you really should make a radical change in your lifestyle and begin to boldly do things which you may previously never have thought of doing, or been too hesitant to attempt.
                So many people live within unhappy circumstances and yet will not take the initiative to change their situation because they are conditioned to a life of security, conformity, and conservatism, all of which may appear to give one peace
                of mind, but in reality nothing is more damaging to the adventurous spirit within a man than a secure future. The very basic core of a man's living spirit is his passion for adventure. The joy of life comes from our encounters with new
                experiences, and hence there is no greater joy than to have an endlessly changing horizon, for each day to have a new and different sun.― Jon Krakauer, Into the Wild</h1>

            <h1>If you want to get more out of life, Ron, you must lose your inclination for monotonous security and adopt a helter-skelter style of life that will at first appear to you to be crazy. But once you become accustomed to such a life you will
                see its full meaning and its incredible beauty. And so, Ron, in short, get out of Salton City and hit the Road. I guarantee you will be very glad you did. But I fear that you will ignore my advice. You think that I am stubborn, but you
                are even more stubborn than me. You had a wonderful chance on your drive back to see one of the greatest sights on earth, the Grand Canyon, something every American should see at least once in his life. But for some reason incomprehensible
                to me you wanted nothing but to bolt for home as quickly as possible, right back to the same situation which you see day after day after day. I fear you will follow this same inclination in the future and thus fail to discover all the
                wonderful things that God has placed around us to discover. ― Jon Krakauer, Into the Wild</h1>
            <h1>Don't settle down and sit in one place. Move around, be nomadic, make each day a new horizon. You are still going to live a long time, Ron, and it would be a shame if you did not take the opportunity to revolutionize your life and move into
                an entirely new realm of experience. ― Jon Krakauer, Into the Wild</h1>
            <h1>
                You are wrong if you think Joy emanates only or principally from human relationships. God has placed it all around us. It is in everything and anything we might experience. We just have to have the courage to turn against our habitual lifestyle and engage
                in unconventional living. ― Jon Krakauer, Into the Wild
            </h1>
            <h1>
                My point is that you do not need me or anyone else around to bring this new kind of light in your life. It is simply waiting out there for you to grasp it, and all you have to do is reach for it. The only person you are fighting is yourself and your stubbornness
                to engage in new circumstances.” ― Jon Krakauer, Into the Wild
            </h1>
            <h1>“Some people feel like they don't deserve love. They walk away quietly into empty spaces, trying to close the gaps of the past.” ― Jon Krakauer, Into the Wild</h1>
            <h1>
                “When you forgive, you love. And when you love, God’s light shines upon you.” ― Jon Krakauer, Into the Wild
            </h1>
            <h1>
                “So many people live within unhappy circumstances and yet will not take the initiative to change their situation because they are conditioned to a life of security, conformity, and conservatism, all of which may appear to give one peace of mind, but in
                reality nothing is more dangerous to the adventurous spirit within a man than a secure future. The very basic core of a man’s living spirit is his passion for adventure. The joy of life comes from our encounters with new experiences, and
                hence there is no greater joy than to have an endlessly changing horizon, for each day to have a new and different sun.” ― Jon Krakauer, Into the Wild
            </h1>
            <h1>“I read somewhere... how important it is in life not necessarily to be strong, but to feel strong... to measure yourself at least once.” ― Jon Krakauer, Into the Wild</h1>
            <h1>“I'm going to paraphrase Thoreau here... rather than love, than money, than faith, than fame, than fairness... give me truth. ” ― Jon Krakauer, Into the Wild</h1>
            <h1>
                “We like companionship, see, but we can't stand to be around people for very long. So we go get ourselves lost, come back for a while, then get the hell out again.” ― Jon Krakauer, Into the Wild
            </h1>
            <h1>“Mr. Franz, I think careers are a 20th century invention and I don't want one.” ― Jon Krakauer, Into the Wild</h1>
            <h1>“The core of mans' spirit comes from new experiences.” ― Jon Krakauer, Into the Wild</h1>
            <h1>“It is easy, when you are young, to believe that what you desire is no less than what you deserve, to assume that if you want something badly enough, it is your God-given right to have it.” ― Jon Krakauer, Into the Wild</h1>
            <h1>
                “You are wrong if you think Joy emanates only or principally from human relationships. God has placed it all around us. It is in everything and anything we might experience. We just have to have the courage to turn against our habitual lifestyle and engage
                in unconventional living.” ― Jon Krakauer, Into the Wild
            </h1>
            <h1>
                “It is true that I miss intelligent companionship, but there are so few with whom I can share the things that mean so much to me that I have learned to contain myself. It is enough that I am surrounded with beauty...” ― Jon Krakauer, Into the Wild
            </h1>
            <h1>“What if I were smiling and running into your arms? Would you see then what I see now?” ― Jon Krakauer, Into the Wild</h1>
            <h1>
                “He read a lot. He used a lot of big words. I think maybe part of what got him into trouble was that he did too much thinking. Sometimes he tried too hard to make sense of the world, to figure out why people were bad to each other so often. A couple of
                times I tried to tell him it was a mistake to get too deep into that kind of stuff, but Alex got stuck on things. He always had to know the absolute right answer before he could go on to the next thing.” ― Jon Krakauer, Into the Wild
            </h1>
            <h1>“That's what was great about him. He tried. Not many do.” ― Jon Krakauer, Into the Wild</h1>
            <h1>“The sea's only gifts are harsh blows, and occasionally the chance to feel strong. Now I don't know much about the sea, but I do know that that's the way it is here. And I also know how important it is in life not necessarily to be strong
                but to feel strong. To measure yourself at least once. To find yourself at least once in the most ancient of human conditions. Facing the blind death stone alone, with nothing to help you but your hands and your own head.” ― Jon Krakauer,
                Into the Wild</h1>
            <h1>“Sometimes he tried too hard to make sense of the world, to figure out why people were bad to each other so often.” ― Jon Krakauer, Into the Wild</h1>
            <h1>“Nothing is more damaging to the adventurous spirit within a man than a secure future. The very basic core of a man’s living spirit is his passion for adventure. The joy of life comes from our encounters with new experiences, and hence there
                is no greater joy than to have an endlessly changing horizon, for each day to have a new and different sun.” ― Jon Krakauer, Into the Wild</h1>
            <h1>“He was unheeded, happy, and near to the wild heart of life. He was alone and young and wilful and wildhearted, alone amid a waste of wild air and brackish waters and the seaharvest of shells and tangle and veiled grey sunlight.” ― Jon Krakauer,
                Into the Wild</h1>
            <h1>“On July 2, McCandless finished reading Tolstoy's "Family Happiness", having marked several passages that moved him: "He was right in saying that the only certain happiness in life is to live for others... I have lived through much, and now
                I think I have found what is needed for happiness. A quiet secluded life in the country, with the possibility of being useful to people to whom it is easy to do good, and who are not accustomed to have it done to them; then work which
                one hopes may be of some use; then rest, nature, books , music, love for one's neighbor - such is my idea of happiness. And then, on top of all that, you for a mate, and children, perhaps - what more can the heart of a man desire?" ...”
                ― Jon Krakauer, Into the Wild</h1>
            <h1>“I understood what he was doing, that he had spent four years fulfilling the absurd and tedious duty of graduating from college and now he was emancipated from that world of abstraction, false security, parents, and material excess.” ― Jon
                Krakauer, Into the Wild</h1>
            <h1>“It is the experiences, the memories, the great triumphant joy of living to the fullest extent in which real meaning is found. God it's great to be alive! Thank you. Thank you.” ― Jon Krakauer, Into the Wild</h1>
            <h1>“The trip was to be an odyssey in the fullest sense of the word, an epic journey that would change everything.” ― Jon Krakauer, Into the Wild</h1>
            <h1>“It is easy, when you are young, to believe that what you desire is no less than what you deserve, to assume that if you want something badly enough , it is your God-given right to have it...I was a raw youth who mistook passion for insight
                and acted according to an obscure, gap-ridden logic. I thought climbing the Devils Thumb would fix all that was wrong with my life. In the end, of course, it changed almost nothing. But I came to appreciate that mountains make poor receptacles
                for dreams. And I lived to tell my tale.” ― Jon Krakauer, Into the Wild</h1>
            <h1>“According to the moral absolutism that characterizes McCandless's beliefs, a challenge in which a successful outcome is assured isn't a challenge at all.” ― Jon Krakauer, Into the Wild</h1>
            <h1>“I don’t want to know what time it is. I don’t want to know what day it is or where I am. None of that matters.” ― Jon Krakauer, Into the Wild</h1>

        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

</body>

</html>