#container {
    border: 2px solid transparent;
    background-attachment: fixed;
    background-size: cover;
}

#title {
    font-size: xx-large;
    text-align: center;
    padding: 12px 16px;
    background-color: transparent;
    border: 2px solid transparent;
}

#navigation {
    padding: 12px;
    background-color: transparent;
}

#navigation ul li {
    padding: 12px;
    font-size: larger;
    font-weight: 700;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

#main-body {
    border: 2px solid transparent;
    padding: 30px;
}

.text h1 {
    text-align: start;
    font-size: xx-large;
}

.text p {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

#footer {
    margin-top: 100px;
    padding: 12px;
    text-align: center;
}

#footer ul {
    text-align: center;
}

#footer li a {
    font: xx-large;
    margin-left: 50px;
    color: white;
    text-align: center;
}